%h1 Vote for your favourite beer

= form_tag(ballots_path, method: :post) do
  = select_tag "beer_id", options_from_collection_for_select(@beers, "id", "brand"), class: "form-control"

  .action-links
    = submit_tag "Vote", class: "btn btn-lg btn-default"
    = link_to "Back", beers_path, class: "btn btn-lg btn-default pull-right"
