.main-content {
  position: relative;
  margin: 1em 0 4em;
}

.action-links {
  margin-top: 1em;
}

.voted_img img{
  display: block;  
  height: 80px;
  width: 80px;
  margin-left: 80%;
}
.voted_img a {
  display: block;
  margin-left: 80%;  
  height: 60px;
}
