%h1 Current Polls
%table
  %tbody
    %tr
      Open Polls:
    -@polls.each do |poll|
      %tr
        %td
          #{poll.created_at}
        %td
          =link_to "Delete", poll_path(poll), method: :delete, data: { confirm: "Are you sure you want to delete this poll?" }
= link_to "Back", beers_path
