$color-title-main: #8C1C13;
$color-body: #F0F0D8;
$color-header: #F0F0D8;
$color-buttons-main: #683F0F;
$color-navbar: #251605;
$color-table-row: #C9C99B;
$color-main-links: #8C1C13;
$color-page-heading: #D17D00;
