.main-title {
  color: $color-title-main;
  font-family: $font-family-cursive;
  font-size: 5em;
}

.nav {
  font-family: $font-family-cursive;
  font-size: 1.625em;
  font-weight: normal;
}

.utility-link {
  margin-left: 2em;
}
