%nav.navbar
  %ul.nav.navbar-nav
    %li
      =link_to "Add Beer", new_beer_path
    %li
      =link_to "Make a Vote!", new_ballot_path
    %li
      =link_to "See all Beers", beers_path
    %li
      =link_to "Start Poll", polls_path, method: :post
    %li
      =link_to "See current polls", polls_path
