%nav.navbar
  %ul.nav.navbar-nav
    %li
      =link_to "Vote!", new_ballot_path
    %li
      =link_to "Poll details", ballots_path
    %li
      =link_to "Poll history", polls_path
    %li
      =link_to "Add a beer", new_beer_path
    %li
      =link_to "Create a poll", polls_path, method: :post
